.page{
    position: relative;
    width:80vw;
    height:80vh;
    border:1px solid red;
    overflow: hidden;    /*prevents ball from visually escaping*/
};
nav ul li{display:inline;}
#page1{background:red;}
#page2{background: lightgreen;}
#page3{background:cyan;}

/*CSS for responsive menu*/
#hamIcon{display:none;}
@media (max-width:800px){
/*make a menu items vertical*/
nav ul li{display:block;}
/* unhide menu icon */
#hamIcon{display:block;}
/*hide the menu item list*/
nav ul{display:none;}
}
/*to unhide menu items*/
.menuShow{display:block;}


#ball {
background: cyan;
width: 100px;
height: 100px;
border-radius: 50%;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
}